<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

  	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://127.0.0.1:1433;database=ssmDB"/>
        <property name="username" value="sa"/>
        <property name="password" value="123456"/>
    </bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="myDataSource" />
	</bean>
	
     <bean id="userAction" class="ssm.web.UserAction" scope="prototype">
    	<property name="userService" ref="userService"/>
    </bean>
    
    <bean id="userService" class="ssm.service.UserService">
    	<property name="userDao" ref="userDao" />
    	<property name="logDao" ref="logDao" />
    </bean>
    
    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	  <property name="mapperInterface" value="ssm.dao.UserDAO" />
	  <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="logDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	  <property name="mapperInterface" value="ssm.dao.LogDAO" />
	  <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
</beans>